# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Data and logs
data/
saved_models/
datasets/raw/


# Docs related to thesis
docs/Figures/
docs/Samples/
docs/Shared on OneDrive/
docs/Related Papers
docs/report/



*.log
*.parquet


# Environment variables
.env
.env.*

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Project specific
github_data_collection.logdocs/Related Papers/

