# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Data and logs
data/

*.log
*.parquet
*.csv

# Environment variables
.env
.env.*

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Project specific
github_data_collection.log