emoji
requests
transformers==4.39.3 
datasets
pandas
numpy
scikit-learn
matplotlib
seaborn
tqdm
jupyter
notebook
openpyxl
torch>=1.13 
transformers
scikit-learn
ipywidgets
beautifulsoup4
reportlab
statsmodels
wordcloud
